h2 {
  color: rgb(24, 170, 90);
  text-align: center;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.para {
  color: rgb(36, 88, 60);
  text-align: justify;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  margin: 10px;
}
.line {
  color: rgba(36, 88, 60, 0.63);
  text-align: left;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 10px;
}
ul {
  color: rgb(255, 166, 0);
  text-align: left;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  margin: 10px;
}
